*{
padding:0px;
margin:0px;
}
.a{
float:left;
background-color:rgb(100,100,200);
font-size:50px;
padding:20px 100px 20px 300px;


color:white;
}
.b{
background-color:rgb(100,100,200);
float:left;
padding:20px 50px 23px 30px;
color:white;
}
.c{
background-color:rgb(100,100,200);
float:left;
padding:20px 50.5px 23px 30px;
color:white;
}
.d{
background-color:rgb(100,100,200);
float:right;
padding:20px 189px 41px 30px;
}
.e{
clear:both;
font-size:30px;
padding:50px 50px;

}
.f,.g,.h{
font-size:20px;
margin:40px;
}
.sec{
clear:both;
float:left;
background-color:grey;
width:700px;
height:600px;
}
.i{
font-size:50px;
}
.asi{
background-color:grey;
height:700px;
}
.x{
padding:10px;
}
.y{
padding:10px;

}
.z{
font-size:20px;
background-color:green;
color:white;
padding:5px 20px;
}
a{
text-decoration:none;
}
a:hover{
text-decoration:underline;
}
.footer{
font-size:40px;
text-align:center;

}